.results {
  background-color: var(--color-blue);
  padding: fluid(40, 10) fluid(48, 10);

  &__list {
    display: grid;
    row-gap: 57px;

    @include mobile {
      display: flex;
      justify-content: space-between;
      column-gap: 10px;
    }
  }

  &__item {
    display: grid;
    text-align: center;
    color: var(--color-white);
  }

  &__value {
    font-size: fluid(52, 32);
  }

  &__title {
    font-size: 16px;
  }
}