.button {
  @include flex-center(true);

  height: 49px;
  padding-inline: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: var(--border-button);

  @include mobile {
    justify-self: center;
  }

  @include hover {
    background-color: var(--color-white);
  }

  &:disabled {
    background-color: var(--color-blue-90);
    pointer-events: none;
  }

  &:has(.button__icon:only-child) {
    @include square(32px);
    
    padding: 0;
    background-color: transparent;
    border: none;
  }

  &__icon {
    color: var(--color-black);
    transition-duration: var(--transition-duration);

    @include hover {
      color: var(--color-blue);
      scale: 1.1;
    }
  }
  
  &--footer {
    .button__icon {
      --iconSize: 24px;
    }
  }

  &--soc1als {
    .button__icon {
      --iconSize: 20px;
    }
  }
}