.designer {
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-s {
      grid-template-columns: 1fr;
    }
  }
}