.section {
  padding-block: var(--home-section-padding-y);
  
  &__header {
    &--about {
      &:not(:last-child) {
        margin-bottom: fluid(60, 50);
      }
    }

    &--product {
      &:not(:last-child) {
        margin-bottom: fluid(73, 50);
      }
    }
  } 

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__subtitle {
    position: relative;
    display: inline-flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-black);
    text-transform: uppercase;

    &::after {
      @include abs-position(vertical);

      content: '';
      left: calc(var(--subtitle-width) + 17px);
      width: fluid(530, 200);
      border-bottom: var(--border-header);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title {
    &--service {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  
  &__description {
    &--service {
      max-width: 471px;
    }
    
    &--product {
      max-width: 473px;
      margin-left: auto;

      @include mobile {
        margin: 0;
      }
    }
  }
}