.section {
  padding-block: var(--home-section-padding-y);

  &--material {
    display: grid;
    grid-template-columns: auto calc(623 / 1200 * 100%);
    gap: 30px 20px;
    height: 490px;
    padding-block: 0;
    margin-top: var(--home-section-padding-y);
    margin-bottom: fluid(120, 50);

    @include tablet {
      grid-template-columns: 1fr;
      height: auto;
    }

    .section__header {
      display: flex;
      align-items: center;
    }

    .section__body {
      align-items: end;
    }
  }
  
  &__header {
    &--about {
      &:not(:last-child) {
        margin-bottom: fluid(60, 50);
      }
    }

    &--product {
      &:not(:last-child) {
        margin-bottom: fluid(73, 50);
      }
    }
  } 

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__subtitle {
    position: relative;
    display: inline-flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-black);
    text-transform: uppercase;

    &::after {
      @include abs-position(vertical);

      content: '';
      left: calc(var(--subtitle-width) + 17px);
      width: fluid(530, 200);
      border-bottom: var(--border-header);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title {
    &--service {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &--material {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  
  &__description {
    &--service {
      max-width: 471px;
    }
    
    &--product {
      max-width: 473px;
      margin-left: auto;

      @include mobile {
        margin: 0;
      }
    }

    &--material {
      max-width: 497px;
      &:not(:last-child) {
        margin-bottom: 23px;
      }
    }
  }
}