.section {
  &__header {
    &--about {
      &:not(:last-child) {
        margin-bottom: fluid(60, 50);
      }
    }
  } 

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;
  }

  &__subtitle {
    position: relative;
    display: inline-flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-black);
    text-transform: uppercase;

    &::after {
      @include abs-position(vertical);

      content: '';
      left: calc(var(--subtitle-width) + 17px);
      width: fluid(530, 200);
      border-bottom: var(--border-header);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}