html {
    &.is-lock {
        overflow: hidden;
    }
}

body {
    @include fluid-text(18, 16);

    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base), sans-serif;
    line-height: 1.6;
    color: var(--color-gray);
    background-color: var(--color-white);
}

main {
    flex-grow: 1;
}

h1, .h1 {
    @include fluid-text(56, 32);

    font-weight: 700;
    line-height: 1.4;
    color: var(--color-black);
}

h2, .h2,
h3, .h3,
h4, .h4 {
    font-weight: 600;
    color: var(--color-black-50);
}

h2, .h2 {
    @include fluid-text(36, 28);

    line-height: 1.7;
}

h3, .h3 {
    @include fluid-text(32, 26);

    line-height: 1.4;
}

h4, .h4 {
    @include fluid-text(24, 20);

    line-height: 1.4;
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    @include hover {
        color: var(--color-blue);
        scale: 1.05;
    }

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    @include focus-visible;
}
