.material {
  padding-block: var(--home-section-padding-y);
  
  &__wrapper {
    display: flex;
    align-items: end;
    gap: 40px;
    height: 100%;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @include mobile-s {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    @include tablet {
      width: 100%;
    }
  }

  &__images {
    display: grid;
    row-gap: 40px;
    align-self: start;

    @include tablet {
      display: contents;
    }
  }
}