.design {
  &__item {
    display: grid;
    align-items: end;
    gap: 20px fluid-to-mobile(95, 20);

    &--before {
      grid-template-columns: auto calc(883 / 1200 * 100%);

      @include mobile {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &--after {
      grid-template-columns: calc(883 / 1200 * 100%) auto;

      @include mobile {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__image {
    position: relative;
  }

  &__content {
    margin-bottom: fluid-to-mobile(95, 0);
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__author {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 17px 52px 18px 20px;
    background-color: var(--color-white);
    box-shadow: var(--shadow-author);

    @include tablet {
      padding: 10px;
    }

    @include mobile-s {
      position: static;
      display: flex;
      justify-content: center;
    }

    &--before {
      top: 26px;
      left: -196px;

      @include tablet {
        top: 0;
        left: 0;
      }
    }

    &--after {
      top: 27px;
      right: -201px;

      @include tablet {
        top: 0;
        right: 0;
      }
    }

    &-avatar {
      @include tablet {
        width: 40px;
      }
    }

    &-info {
      display: grid;
    }

    &-name {
      font-weight: 600;
      line-height: 1.4;
      color: var(--color-black);
    }
  }
}