.service {
  padding-block: var(--home-section-padding-y);
  
  &__accordion {
    position: relative;
    z-index: 10;
    display: grid;
    row-gap: 35px;
    width: calc(883 / 1200 * 100%);
    padding-block: 40px;
    padding-right: 40px;
    background-color: var(--color-white);

    @include mobile {
      width: 100%;
      padding-right: 0;
    }
  }

  &__image {
    position: relative;
    z-index: 5;
    margin-top: -163px;
    margin-left: auto;

    @include mobile {
      margin-top: 0;
    }
  }
}