.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
  padding-block: fluid(40, 16);
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 200px 300px;
  
  @keyframes scrolling-header {
    to {
      padding-block: 10px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
  }

  &__overlay-menu-dialog {
    @include square(100%);

    position: fixed;
    inset: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 25px;
    background-color: var(--color-blue-25);
    border: none;
    padding: 100px var(--container-padding-x) var(--container-padding-x);
    transition-duration: var(--transition-duration);
    transition-behavior: allow-discrete;

    @include mobile-above {
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 50%;
    }

    &[open] {
      display: flex;

      @starting-style {
        @include starting-styles;
      }
    }

    &:not([open]) {
      @include starting-styles;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: fluid-to-mobile(74, 30);

    @include mobile {
      display: contents;
    }
  }

  &__menu {
    &-list {
      display: flex;
      column-gap: fluid-to-mobile(74, 30);

      @include mobile {
        flex-direction: column;
        row-gap: 25px;
      }
    }

    &-link {
      font-size: 16px;
      color: var(--color-black-50);

      @include hover {
        scale: 1.05;
      }

      @include mobile {
        font-size: 20px;
      }

      &.is-active {
        font-weight: 600;
        color: var(--color-black-50);
      }
    }
  }

  &__burger-button {
    position: relative;
  }
}